.container {
    height: 100%;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.date, .time {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.date button, .time button {
    color: var(--textSoft);
    background-color: var(--bg);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date button {
    border: 3px solid black;
    padding: 1em;
    border-radius: 15px;
}

.time button {
    flex: 1;
    padding: 0 0.5em;
    border: 3px solid black;
    border-radius: 10px;
    white-space: nowrap;
}

.chosenDate {
    background-color: lightgreen !important;
    color: black !important;
}

.activeDate {
    background-color: lightblue !important;
    color: black !important;
}

.activeTime {
    background-color: lightgreen !important;
    color: black !important;
}

@media (max-width: 1240px) {
    .container {
        flex-direction: column;
    }
    .date, .time {
        flex-direction: row;
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* 6 buttons per row */
    }
}
@media (max-width: 992px) {
    .date, .time {
        grid-template-columns: repeat(3, 1fr); /* 6 buttons per row */
    }
}
@media (max-width: 576px) {
    .date, .time {
        grid-template-columns: repeat(2, 1fr); /* 6 buttons per row */
    }
}