.container {
    flex: 1;
    display: flex;
    gap: 4em;
}

.sidebar {
    display: flex;
    /* background-color: blue; */
}

.inputSection {
    flex: 1;
    /* background-color: green; */
}

.rightBar {
    padding: 2em;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
}