.container {
    flex: 1;
    display: flex;
    gap: calc(2em + 2vw);;
}

.sidebar {
    display: flex;
}

.inputSection {
    flex: 1;
}

.rightBar {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
}

@media (max-width: 1240px) {
    .container {
        flex-direction: column;
    } 
    .inputSection {
        min-height: 100vh;
    }
}