.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: var(--bgSoft);
  border: 3px solid black;
  padding: 1.5em;
  gap: 2em;
  position: relative;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Apply blur effect when video is open */
.blurredBackground {
  filter: blur(5px);
  pointer-events: none;
}

/* Button to open video */
.videoButton {
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.videoButton:hover {
  background-color: var(--text);
}

/* Fullscreen video overlay */
.videoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.7); */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Video container */
.videoContainer {
  position: relative;
  width: 80%;
  aspect-ratio: 80 / 43;
  overflow: hidden;
  border-radius: 50px;
}

/* Close button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}

.videoContainer iframe {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

@media (max-width: 1240px) {
  .container, .navBar {
    flex-direction: row;
  }
  .navBar {
    justify-content: start;
    gap: 1em;
  } 
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  } 
  .navBar {
    width: 100%;
    justify-content: space-between;
  } 
}