.container {
    display: flex;
    gap: 4em;
    padding: 1em 2em;
    border: 3px solid black;
    border-radius: 20px;
    background-color: var(--bgSoft);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fileButton {
    padding: 1em 2em;
    font-size: 1rem;
    border: 3px solid black;
    border-radius: 8px;
    background-color: var(--bg);
    color: var(--textSoft);
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.fileButton:hover {
    background-color: lightgray;
    transform: scale(1.05);
}

.divider {
    width: 3px;
    height: 100%;
    background: black;
}