.container {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 20px;
    background-color: var(--bgSoft);
    height: 100%;
}

.header {
    font-weight: bold;
    font-size: 2rem;
    padding: 1em;
    text-align: center;
    border-bottom: 3px solid black;
    color: var(--text);
}

.body {
    display: flex;
    flex-direction: column;
}

.list {
    padding: 1em;
    font-size: 1.5rem;
    gap: 1em;
    font-weight: bold;
    color: var(--textSoft);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1400px) {
    .header, .list {
        padding: 0.8em;
    }
    .header {
        font-size: 1.75rem;
    }
    .list {
        font-size: 1.5rem;
        gap: 0.8em;
    }
}

@media screen and (max-width: 1024px) {
    .header, .list {
        padding: 0.6em;
    }
    .header {
        font-size: 1.5rem;
    }
    .list {
        font-size: 1.25rem;
        gap: 0.6em;
    }
}

@media screen and (max-width: 768px) {
    .header, .list {
        padding: 0.4em;
    }
    .header {
        font-size: 1.25rem;
    }
    .list {
        font-size: 1rem;
        gap: 0.4em;
    }
}

@media screen and (max-width: 480px) {
    .header, .list {
        padding: 0.3em;
    }
    .header {
        font-size: 1rem;
    }
    .list {
        font-size: 0.75rem;
        gap: 0.3em;
    }
}
