.container {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 20px;
    background-color: var(--bgSoft);
    width: 100%;
}

.header {
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    padding: 1em;
    text-align: center;
    color: var(--text);
}

.divider {
    height: 3px;
    background-color: black;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.list {
    padding: 1em;
    font-size: 1.5rem;
    gap: 1em;
    font-weight: bold;
    color: var(--textSoft);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:hover {
    cursor: pointer;
    text-decoration: line-through;
}

@media (max-width: 1240px) {
    .container, .list {
        flex-direction: row;
    } 
    .header {
        align-items: center;
        padding: 1em 0.5em;
    }
    .divider {
        height: unset;
        width: 3px;
    }
    .list {
        height: 100%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1em 0.5em;
    }
}