.container {
    flex: 1;
    display: flex;
    gap: calc(2em + 2vw);
}

.leftSide {
    display: flex;
}

.priorityBar {
    flex: 1;
}

.resultSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.generateButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultDisplay {
    flex: 1;
    display: flex;
}

@media (max-width: 1240px) {
    .container {
        flex-direction: column;
    } 
}